---
import backgroundVideo from "../../assets/bg.mp4";
---

<div class="background-overlay">
  <video
    muted
    autoplay
    preload="true"
    loop
    id="background"
    class="background"
    src=`${backgroundVideo}`></video>
</div>

<style>
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }

  #background,
  .background {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
</style>
