<div class="landing-page" id="landing">
  <div class="landing-container">
    <h1 class="heading-1">Hello, I'm <span>Bryan.</span></h1>
    <p class="heading-2">
      Full Stack Software Engineer, AWS Solutions Architect
    </p>
    <a href="#projects" class="btn-landing btn-white btn-animated"
      >View my Work</a
    >
  </div>
</div>

<div class="new-page" id="projects"></div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    color: white;
  }

  .new-page {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  .landing-page {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heading-1 {
    font-size: 5.2rem;
    font-weight: 400;
    margin: 2.6rem 0;
    animation: moveInLeft 1.4s;
  }

  .heading-1 span {
    color: #ffe066;
  }

  .heading-2 {
    font-size: 2.4rem;
    margin-bottom: 4.2rem;
    animation: moveInRight 1.4s;
  }

  .btn-landing {
    padding: 1.4rem 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffec99;
    border: 2px solid #ffe066;
    border-radius: 14px;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s 0.75s backwards;
  }

  .btn-landing:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.2);
  }

  .btn-landing:active {
    transform: translateY(-1px);
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 52.5%;
    }
    .heading-1 {
      font-size: 4rem;
      line-height: 1.2;
    }
    .heading-2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
</style>
